<!DOCTYPE html>
<html lang="en">
<head>
<title>index</title>
<!-- custom-theme -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //custom-theme -->
<!-- css files -->
<link href="//fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&amp;subset=devanagari,latin-ext" rel="stylesheet">
<link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese" rel="stylesheet">
<link href="css/style.css" type="text/css" rel="stylesheet" media="all">   
<!-- //css files -->

</head>
<!-- body starts -->
<body>
<!-- section -->
<section class="register">
	<div class="register-full">
		<div class="register-left">
			<div class="register">
				<div class="logo">
					<a href="http://www.fstt.ac.ma/Portail/index.php"><img src="images/FST-Tanger-ouverture-des-pré-inscriptions-2014-removebg-preview.png"></a>
				</div>
				<div class="leftpar">
				<h1>Logiciels et systèmes intelligents (LSI) - FSTT</h1>
				<p class="redwane">Former des ingénieurs capables de :Comprendre les enjeux des techniques de l’information,Proposer et construire des solutions informatiques et décisionnelles compétitives et réalistesIntervenir sur des problématiques informatiques complexes,Piloter des projets informatiques et les changements qu'ils entraînent.</p>
				<div class="content3">
					<ul>
						<li><a class="" href="http://www.fstt.ac.ma/Portail/formation/formation-initiale/cycle-ingenieur?pid=92&sid=107:logiciel-et-systeme-informatique"> Savoir plus</a></li>
						<li><a class="read" href="#"> Retour</a></li>
					</ul>
				</div>
			    </div>
			</div>
		</div>
		<div class="register-right">
			<div class="register-in">
				<h2><span class="fa fa-pencil"></span> Se connecter</h2>
				<div class="register-form">
					<form action="#" method="post">
						<div class="fields-grid">
							
							<div class="styled-input">
								<input type="email" name="Email" required="">
								<label>Email</label>
								<span></span>
							</div>
							
							<div class="styled-input">
								<input type="password" name="password" required="">
								<label>Mot de Passe</label>
								<span></span>
							</div>
							
							<div class="clear"> </div>
							 <label class="checkbox"><input type="checkbox" name="checkbox" checked><i></i>Se souvenir de moi</label>
						</div>
						<input type="submit" value="Connextion">
					</form>
				</div>
			</div>
			<div class="clear"> </div>
		</div>
	<div class="clear"> </div>
	</div>
	<!-- copyright -->
	<p class="agile-copyright">© 2021 Formulaire de conexion au site web de filière (LSI) - FSTT. Tous les droits sont réservés | Design by MAHJOUBI REDWANE</p>
	<!-- //copyright -->
</section>
<!-- //section -->
</body>	
<!-- //body ends -->
</html>